In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
print("Types of placeholders in Python")
print("""
%s, String format. It's used to insert a string representation of an object.")
%d: Integer format. It's used to insert an integer into the string.
%f: Floating-point format. It's used to insert a floating-point number into the string.
%x or %X: Hexadecimal format. It's used to insert an integer in hexadecimal (lowercase or uppercase).
%o: Octal format. It's used to insert an integer in octal.
%r: Raw format. It's used to insert the "official" string representation of an object.
"""
)

print("------------------------")
print("Example:")

a = "ThisIsAString"
b = 100
c = 1.05

print("This is a string: %s" % a)
print("This is an integer: %d" % b)
print("This is a float: %f" % c)
print("This is hexadecimal of %d: %x" % (b,b))
print("This is octal: %o of %d" % (b,b))
print("This is raw format: %r" % a)

Types of placeholders in Python

%s, String format. It's used to insert a string representation of an object.")
%d: Integer format. It's used to insert an integer into the string.
%f: Floating-point format. It's used to insert a floating-point number into the string.
%x or %X: Hexadecimal format. It's used to insert an integer in hexadecimal (lowercase or uppercase).
%o: Octal format. It's used to insert an integer in octal.
%r: Raw format. It's used to insert the "official" string representation of an object.

------------------------
Example:
This is a string: ThisIsAString
This is an integer: 100
This is a float: 1.050000
This is hexadecimal of 100: 64
This is octal: 144 of 100
This is raw format: 'ThisIsAString'

In [39]:
print("Another way of printing with formatig with placeholders,is to use f-strings:")
print(f"""
      This is a string: {a}
      This is an integer: {b}
      This is a float: {c}
      This is hexadecimal of {b}: {b:x}
      This is octal of {b}: {b:o}
      This is raw format: {repr(a)}"""
      )

Another way of printing with formatig with placeholders,is to use f-strings:

      This is a string: ThisIsAString
      This is an integer: 100
      This is a float: 1.05
      This is hexadecimal of 100: 64
      This is octal of 100: 144
      This is raw format: 'ThisIsAString'

In [3]:
# Loading csv file:
iris = pd.read_csv("~/gitrepos/custom_scripts/iris_dataset.csv")
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
# What is the number of observations in the dataset?
# iris.shape
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [10]:
# Print the number of rows and columns:
ncols = iris.shape[0]
nrows = iris.shape[1]

print(f"Number of columns: {ncols}\nNumber of rows: {nrows}")

Number of columns: 150
Number of rows: 5

In [22]:
# Print the column names:
iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width'], dtype='object')

In [12]:
# Check how the dataset is indexed
iris.index

RangeIndex(start=0, stop=150, step=1)

In [24]:
# Check the ranges of width and length of each species:
#pd.melt(iris,id_vars='Species', 
#        value_vars=iris.columns[:-1],
#        var_name = "Measure",
#        value_name="Value")
iris.groupby('Species').agg(['min','mean','median','max','count'])

           Sepal.Length                          Sepal.Width                \
                    min   mean median  max count         min   mean median
Species
setosa              4.3  5.006    5.0  5.8    50         2.3  3.428    3.4
versicolor          4.9  5.936    5.9  7.0    50         2.0  2.770    2.8
virginica           4.9  6.588    6.5  7.9    50         2.2  2.974    3.0

                      Petal.Length                          Petal.Width  \
            max count          min   mean median  max count         min
Species
setosa      4.4    50          1.0  1.462   1.50  1.9    50         0.1
versicolor  3.4    50          3.0  4.260   4.35  5.1    50         1.0
virginica   3.8    50          4.5  5.552   5.55  6.9    50         1.4


             mean median  max count
Species
setosa      0.246    0.2  0.6    50
versicolor  1.326    1.3  1.8    50
virginica   2.026    2.0  2.5    50

In [218]:
# Parse vcf
import pysam
import pandas
import re
import itertools
import csv
vcf1 = pysam.VariantFile("/home/akram/Documents/Akram/Biofidelity/chr20.variants_20072022.vcf")
print(vcf1.header)

##fileformat=VCFv4.3
##FILTER=<ID=PASS,Description="All filters passed">
##fileDate=26022019_15h52m43s
##source=IGSRpipeline
##reference=ftp://ftp.1000genomes.ebi.ac.uk/vol1/ftp/technical/reference/GRCh38_reference_genome/GRCh38_full_analysis_set_plus_decoy_hla.fa
##FORMAT=<ID=GT,Number=1,Type=String,Description="Phased Genotype">
##INFO=<ID=AC,Number=A,Type=Integer,Description="Total number of alternate alleles in called genotypes">
##INFO=<ID=AN,Number=1,Type=Integer,Description="Total number of alleles in called genotypes">
##INFO=<ID=VT,Number=.,Type=String,Description="indicates what type of variant the line represents">
##contig=<ID=20>
#CHROM	POS	ID	REF	ALT	QUAL	FILTER	INFO	FORMAT	sample1	sample2	sample3

In [38]:
print(pysam.__file__)

/home/akram/miniconda3/lib/python3.7/site-packages/pysam/__init__.py

In [219]:
# VCF metadata
number_samples = len(vcf1.header.samples)

You should parse the VCF file named (‘chr20.variants.GRCh38.vcf.gz’) containing variants in
the chromosome 20 and generate a report with the following information:

* Metadata. E.g. number of samples, file format, etc.
* Metrics on the variants reported in the file. E.g. count of SNPs, INDELs, heterozygous,homozygous, substitution types, etc.
* Distribution of variants across the chromosome and possible mutational processes that might be operative.

In [285]:
vcf_path = "/home/akram/Documents/Akram/Biofidelity/chr20.variants_20072022.vcf"
metadata = []
header = []
with open(vcf_path,'r') as vcf:
    n_lines = 0
    for line in vcf:
        if line.startswith('##'):
            metadata.append(line.strip())
        elif line.startswith('#'):
            header.append(line.strip('\t'))
        
        n_lines += 1
            
number_records = n_lines - len(metadata) - len(header)


for metadata_line in metadata:
    print(metadata_line)

print(header)
print(number_records)

##fileformat=VCFv4.3
##FILTER=<ID=PASS,Description="All filters passed">
##fileDate=26022019_15h52m43s
##source=IGSRpipeline
##reference=ftp://ftp.1000genomes.ebi.ac.uk/vol1/ftp/technical/reference/GRCh38_reference_genome/GRCh38_full_analysis_set_plus_decoy_hla.fa
##FORMAT=<ID=GT,Number=1,Type=String,Description="Phased Genotype">
##INFO=<ID=AC,Number=A,Type=Integer,Description="Total number of alternate alleles in called genotypes">
##INFO=<ID=AN,Number=1,Type=Integer,Description="Total number of alleles in called genotypes">
##INFO=<ID=VT,Number=.,Type=String,Description="indicates what type of variant the line represents">
##contig=<ID=20>
['#CHROM\tPOS\tID\tREF\tALT\tQUAL\tFILTER\tINFO\tFORMAT\tsample1\tsample2\tsample3\n']
8749

In [341]:
def parseLine(line,sep):
    if sep == '=':    
        metinfo = line[2:].split(sep)[1]
    else:
        metinfo = line[2:].split(sep)[1]

    return metinfo

def getMetadata(vcf_path):
    
    metadata = []
    header = []
    with open(vcf_path,'r') as vcf:
        n_lines = 0
        for line in vcf:
            if line.startswith('##'):
                metadata.append(line.strip())
            elif line.startswith('#'):
                header.append(line.strip('\t'))
            n_lines += 1
            
    number_records = n_lines - len(metadata) - len(header)

    # Extract metadata information for the short tags:
    tags = ['fileformat','fileDate','source','reference']
    metadata_info = []
    for tag in tags:
        for line in metadata:
            if tag in line:
                parsed_tag = parseLine(line,'=')      
        
        metadata_info.append(parsed_tag)
    
    # Extract metadata information for the longer tags:
    filter_line = [line for line in metadata if line.startswith("##FILTER")]
    info_lines = [line for line in metadata if line.startswith("##INFO")]
    format_line = [line for line in metadata if line.startswith("##FORMAT")]
    contig_line = [line for line in metadata if line.startswith("##contig")]
    
    # Get sample IDs
    samples = header[0].strip().split('\t')[9:]
    number_samples = len(samples)
    format = parseLine(format_line[0],'=<ID=').split(',')[0]
    filter = parseLine(filter_line[0],'=<ID=').split(',')[0]
    info = [parseLine(x,'=<ID=').split(',')[0] for x in info_lines]
    contigs = parseLine(contig_line[0],'=<ID=').split('=')[0].replace(">","")

    for x in [number_samples,number_records,filter,contigs,format,info]:
        metadata_info.append(x)
    
    #metadata_info.extend(info)
    return(metadata_info)



tmp  = getMetadata(vcf_path)


colnames = ['File Format','File Date','Source','Reference','Number of Samples','Number of Records','Filter','Contigs','Format','Info']

outpath = "/home/akram/Documents/Akram/Biofidelity/chr20.variants_summary_report.vcf"

with open(outpath,'w',newline='') as report:
    report_writer = csv.writer(report, delimiter=':')
    
    for colname,data in zip(colnames,tmp):
        report_writer.writerow([colname,data])

['VCFv4.3', '26022019_15h52m43s', 'IGSRpipeline', 'ftp://ftp.1000genomes.ebi.ac.uk/vol1/ftp/technical/reference/GRCh38_reference_genome/GRCh38_full_analysis_set_plus_decoy_hla.fa', 3, 8749, 'PASS', '20', 'GT', ['AC', 'AN', 'VT']]

In [358]:
def is_heterozygous(ref,alt):
    if ref != alt :
        True
        
        
#def getData(vcf_path):
    with open(vcf_path,'r') as vcf:
        vcf_data = []
        for line in vcf:
            if not line.startswith('##'):
                data.append(line.strip())
#    return(data)
                
split_data = [line.split('\t') for line in vcf_data]
split_data
#vcf_data = getData(vcf_path)

#df[df['INFO'].str.contains('INDEL')]

In [393]:
def cleanRow(row):
    return row.replace(r'[a-zA-Z]','')

df = pd.DataFrame(split_data[1:], columns=split_data[0])
#df[['INFO_AC', 'INFO_AN', 'INFO_VT']] = 
tmp  = df['INFO'].str.split(';', expand=True)
tmp.columns=['AC','AN','VT']
tmp['VT'] = tmp['VT'].str.replace('VT=','')
#tmp.head
tmp.groupby('VT').size()

#df['INFO_AC', 'INFO_AN', 'INFO_VT']

#df.head
#metadata_info = []
#print(metadata)
#for colname,data in zip(colnames,metadata_info):
#    print(f"{colname}: {data}")
    

#[number_samples,number_records,filter[0],contigs[0],info]
#import csv
#[metadata_info,number_samples,number_records,filter,contigs]#,info
#metadata_info
#line = metadata[2]
#parseLine(line,'=')
#contig_line = [line for line in metadata if line.startswith("##contig")]
#contig_line


#parseLine(info_lines,'=<ID=').split(',')[0]

VT
INDEL     869
SNP      7880
dtype: int64

In [95]:
ref = 'A'
alt = 'G'
transitions = {
        'A': 'G',
        'G': 'A',
        'C': 'T',
        'T': 'C'
}
def is_transition(ref,alt):
 return alt == transitions.get(ref)
#transitions.keys()
#transitions.values()
#transitions.items()
#transitions.get('A')

is_transition(ref,alt)

True